<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DatabaseConnection" connectionString="Data Source=LUCASWOLFF\SQLEXPRESS;Initial Catalog=MoviesRentalEF;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
	</connectionStrings>
	<appSettings>
		<add key="FrameworkType" value="EntityFramework" />
	</appSettings>
</configuration>